.bidslate-content-header::before {
    background-image: none;
}

.list-portfolio-title {
    display:inline-block;
    width:56%;
}

.list-portfolio-type {
    display:inline-block;
    width:14%;
}

.list-portfolio-date {
    display:inline-block;
    width:14%;
}

.list-portfolio-status {
    display:inline-block;
}

.list-portfolio-image {
    max-height:350px;
}

.list-series-title {
    display:inline-block;
    width:56%
}

.list-series-number {
    display:inline-block;
    width:14%;
}

.list-series-date {
    display:inline-block;
    width:14%;
}

.list-series-status {
    display:inline-block;
}

.list-portfolio-image {
    max-height:350px;
}

.uk-list-striped>li {
    padding:10px 0;
}
